* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #dfe9f3, #ffffff);
    display: grid;
    place-items: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 12px;
    background: #f5f6fa;
    transition: 0.2s;
}


.produto:hover {
    transform: scale(1.02);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.produto  > img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    background: #f1f2f6;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.03);
}

.informacao {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.adicionarCarrinho {
    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;
}

.adicionarCarrinho:hover {
    background: #27ae60;
    transform: scale(1.05);
}

#comprarPerfumes {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: linear-gradient(135deg, #3498db, #2980b9);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

#comprarPerfumes:hover {
    background: #2980b9;
    transform: scale(1.02)
}